# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.development
.env.production

# Build directories
build/
dist/

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm

# Temporary files
*.tmp
*.temp

# MacOS specific files
.DS_Store

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous files
*.tgz
*~

nodemon.json